open-clip-torch==2.24.0

albumentations==1.4.3
insightface==0.7.3

onnxruntime==1.16.3
onnxruntime-gpu==1.18.0

clip

#CivitAI
send2trash
ZipUnicode
bs4
pysocks
beautifulsoup4

# ControlNet
rich
fvcore
mediapipe
opencv-python>=4.8.0
svglib
addict
yapf
albumentations==1.4.3
matplotlib
facexlib
timm<=0.9.5

#ADetailer
ultralytics

fvcore
mediapipe>=0.10.14

# WD14Tag
ml_dtypes>=0.4.0